h1 {
  margin: 2vh;
}
.container{
  margin: 2vh;
}
form *{
  margin: 2vh;
}
.form-control {
  margin: 2vh;
}
.btn {
  margin: 2vh;
}
.list-group-item{
  margin: 2vh;
}
div {
  background-color: #eee;
}
html{
  background-color: #444;
}